:root{
    --primary: #1363BF;
    --secondary: #F2A418;
    --hover: #3392FF;
    --active: #0059BF;
    --mouseover: #0f929e;
    --success: #23AE5E;
    --info: #18ACEF;
    --info_hover: #60C3EF;
    --info_actice: #00A5EF;
    --warning: #F2CA00;
    --error: #F24030;
    --light: #eee;
    --dark: #092C4C;
    --shadow: rgba(2, 32, 56, 0.24);
    --text: #333;
    --muted: #b3b3b3;
    --white: #fff;
}