h2{
    margin: 2rem;
}
h3{
    color: var(--primary);
}
a{
    text-decoration: none;
    color: var(--gray_2);
}
input{
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.5rem;
    border: 1px solid var(--gray_3);
}
input::placeholder{
    color: var(--gray_4);
}
input:focus{
    outline: 0;
}
.card{
    max-width: 480px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1rem var(--shadow);
}
.card h3{
    margin-bottom: 1rem;
}
.content{
    text-align: left;
    margin: 0 auto;
}
.forget{
    text-align: right;
}