html {
    scroll-behavior: smooth;
}

/* h2 標題 */
section h2 {
    color: var(--primary);
    text-align: center;
    margin-bottom: 1.5rem;
}

/* a連結 */
.link {
    text-decoration: none;
    color: var(--white);
}


/* 所有的按鈕類別 */
/* 按鈕 mouse-in */
button,.button {
    cursor: pointer;
    border-width: 0;
    background: transparent;
}

/* MORE按鈕 */
.more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 6.5rem 0;

    button {
        padding: 1rem 2rem;
        border-radius: 0.65rem;
        background-color: var(--second);
        color: var(--white);
        font-size: 1rem;
        font-family: sans-serif;
        transition: 0.15s ease-in-out;
    
        &:hover {
            background-color: var(--second_hover);
        }
    }
}
/* 回到上一頁按鈕 */
.prev-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 6.5rem 0;

    button {
        padding: 1rem 2rem;
        border-radius: 0.65rem;
        border: 2px solid var(--second);
        background-color: var(--white);
        color: var(--second);
        font-size: 1rem;
        font-family: sans-serif;
        transition: 0.15s ease-in-out;
    
        &:hover {
            border: 2px solid var(--second_hover);
            color: var(--second_hover);
        }
    }
}

/* 影片播放按鈕icon */
.playerButton{
    &::before {
        font-family: var(--font-awesome-family);
        color: rgba(255, 255, 255, 0.8);
        font-size: 3rem;
        content: '\f144';
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
}
/* 手機板影片播放按鈕icon */
.playerButtonMobile{
    &::before {
        font-family: var(--font-awesome-family);
        color: rgba(255, 255, 255, 0.8);
        font-size: 3rem;
        content: '\f144';
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 33%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
}

/* 影片長度 */
.videoLength {
    &::after {
        content: attr(data-videoLength);
        color: var(--white);
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0.5rem;
        padding: 0.375rem 0.5rem;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
}
/* 手機板影片長度 */
.videoLengthMobile {
    &::after {
        font-size: 1rem;
        content: attr(data-videoLength);
        color: var(--white);
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0.5rem;
        padding: 0.375rem 0.5rem;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        display: inline-block;
        position: absolute;
        bottom: 38%;
        right: 0;
        z-index: 2;
    }
}

/* 輪播方向按鈕 */
.swiper-button-next,
.swiper-button-prev {
    color: var(--white);
    opacity: 0.9;
    text-shadow: 0 0.25rem 0.5rem var(--dark);

    &:active {
        color: var(--primary);
    }
}

span.swiper-pagination-bullet {
    background: var(--white);
    box-shadow: var(--shadow);
}


/* 熱門城市輪播按鈕 */
.container{
    position: relative;

    /* 輪播按鈕 */
    .arrow {
        width: 3rem;
        height: 3rem;
        border-width: 0;
        color: var(--white);
        position: absolute;
        z-index: 3;
    
        &:hover {
            color: var(--second_hover);
        }    
        /* 調整 icon 大小 */
        .fa-solid {
            transform: scale(3);
        }
    
    }
}
.carousel {
    position: relative;

    /* 首頁輪播按鈕 */
    .arrow {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border-width: 0;
        background-color: var(--white);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.16);
        color: var(--primary);
        position: absolute;
        top: calc(50% - 1.5rem);
        z-index: 3;

        &:hover {
            color: var(--hover);
        }

        /* 調整 icon 大小    */
        .fa-solid {
            transform: scale(1.6);
        }

    }
}

/* 內頁的 more */
.more_second_floor {    
    width: 100%;
    margin: 2rem auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        width: 40px;
        height: 40px;
        color: var(--gray_3);
        padding: 0.25rem;
        border-radius: 50%;

        .fa-solid {
            transform: scale(1.6);
        }

        &:hover {
            color: var(--second_hover);
        }
    }
    .divide {
        width: 100%;
        border-bottom: 2px solid var(--gray_5);
    }
}


/* 回到頂端按鈕 */
.side_function {
    margin: auto;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--white);
    font-size: 1rem;
    color: var(--primary);
    text-align: center;
    box-shadow: 0 0 0.25rem var(--shadow);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 5;

    .fa-solid {
        transform: scale(2);
        line-height: 0.5;
        color: var(--dark);

        &:hover {
            transform: scale(2);
            line-height: 0.5;
            color: var(--hover);
        }
    }
    
}


/* 首頁人氣嚮導聯繫按鈕 */
.detial {
    .contact {
        .item {
            background-color: var(--white);
            color: var(--dark);
            border-radius: 0.5rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
            padding: 0.75rem 1.5rem;
            margin-right: 1rem;

            &:hover {
                color: var(--hover);
            }
            
            /* 首頁嚮導欄按鈕調整 icon 大小 */
            .fa-solid {
                transform: scale(1.2);
            }
        }
    }
}


/* 首頁嚮導欄按鈕 */
.pop_guide .guides .card{
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        .cover::after {
            opacity: 0.6;
        }
    }

    &::after {
        width: 100%;
        content: '';
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        transition: .3s all;
    }

    /* 首頁嚮導欄按鈕照片 */
    .cover {
        width: 130px;
        height: 130px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            vertical-align: top;
            transition: .3s all;
            transform: scale(1);
        }

        &:hover img {
            transform: scale(1.15);
        }
    }    

    .contact {
        display: flex;
        justify-content: space-evenly;

        /* 首頁嚮導欄按鈕 */
        button {
            width: 2rem;
            height: 2rem;
            background-color: var(--white);
            color: var(--dark);
            border-width: 0;
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
            margin: 0.25rem;
            margin-bottom: 2rem;

            &:hover {
                color: var(--hover);
            }

            /* 首頁嚮導欄按鈕調整 icon 大小 */
            .fa-solid {
                transform: scale(1.2);
            }
        }
    }
}


.pop_guide .carousel .card:nth-child(2) {
    z-index: 2;
    position: relative;
}

/* 首頁嚮導簡介 */
.pop_guide {
        .swiper{
        position: relative;
        margin-bottom: 4rem;

        .swiper-slide-active{
            position: relative;

            &::before,&::after{
                background-color: transparent;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: -100%;

            }
            &::after{
                left: -100%;
            }
        }
        .baffle{
            overflow: hidden;
            border-radius: 0.25rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.16);
            .cover {
                overflow: hidden;
                /* 嚮導照片 */
                img {
                    vertical-align: top;
                    object-fit: cover;
                    width: 100%;
                    transform: scale(1.01);
                    transition: .3s all;
                }    
            }
            &:hover img {
                transform: scale(1.3);
            }
    
            // 首頁嚮導簡介 卡片內容/*
            .content {
                padding: 1.5rem;
                background-color: #fff;
    
                /* 人氣嚮導 */
                .guide {
                    margin-bottom: 1rem;
                    /* 名字 */
                    .name {
                        display: flex;
                        align-items: center;
                        margin-right: 1rem;
                        
                        h3 {
                            margin-right: 0.5rem;
                        }
                        .fa-solid {
                            margin-right: 0.25rem;
                        }
                    }
                    h4 {
                        margin-bottom: 0.5em;
                    }
                }            
                p {
                    margin-bottom: 1rem;
                    word-wrap: break-word;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    margin-bottom: 1rem;
                }            
                /* 細節 */
                .detial {
                    display: flex;
                    justify-content: space-between;

                    .score{
                        display: flex;
                        align-items: center;

                        .fa-star {
                            transform: scale(0.85);
                        }
                    }

                    .contact {
                        display: flex;
                        margin-top: 2rem;
                        
                    }
                }
            }
        }
    }
    
    /* 嚮導欄 */
    .guides {
        .cover{
            margin-bottom: 1rem;
        }
        .guide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .name {
                margin-bottom: 0.5rem;
            }            
            .score {
                margin-bottom: 0.5rem;
            
                .fa-solid {
                    margin-right: 0.5rem;
                }
            }            
            h4 {
                margin-bottom: 0.25rem;
            }
            
            p {
                margin-bottom: 0.5rem;
            }
        }            
        .contact {
            margin: 0 auto;
            /* 按鈕 */
            button {
                position: relative;
            }
        }
    }

    /* 按鈕 */
    .item {
        position: relative;
    
        &:hover {
            color: var(--hover);
    
            .list-ul {
                transform: scale(1);
                transform-origin: bottom right;
                color: var(--dark);

                .record{
                    margin: auto;

                    &:hover {
                        color: var(--hover);
                    }
                }
            }
        }
    
        /* 按鈕清單 */
        .list-ul {
            width: 12rem;
            background-color: var(--white);
            border-radius: 0.5rem;
            box-shadow: 0 0.25rem 0.5rem var(--shadow);
            display: flex;
            padding: 1.2rem 0.1rem;
            margin: 0.5rem;
            position: absolute;
            z-index: 2;
            right: -45%;
            bottom: 75%;
            transform: scale(0);
            transition: 0.3s all;
    
            /* 按鈕 */
            .item {
                display: flex;
                align-items: center;
                margin: 0 auto;
                color: var(--dark);
    
                &:hover {
                    color: var(--hover);
                }
            }
    
            .fa-solid {
                margin-right: 0.5rem;
            }

            span {
                font-size: 0.95rem;
            }
        }
    }
    
    /* 評分 */
    .score {
        color: var(--info);

        span{
            font-size: 0.95rem;
        }
    }
}


/* 燈箱內容 */
#lightBox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    .x-btn, .btn {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: var(--gray_5);
        transition: 0.1s all ease-in-out;
        position: absolute;
        margin: 1.5rem;
        top: 0;
        right: 0;

        &:hover {
            background-color: var(--error);
            color: var(--white);
        }

        .fa-solid {
            transform: scale(1.6);
        }
    }
    iframe {
        width: 90%;
        height: 90%;
        object-fit: cover;
        vertical-align: top;
    }
}


/* 所有卡片類型 */
/* 首頁熱門話題影片卡片 */
.hot .row {
    margin-bottom: 2rem;

    .col {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;

        .video {
            height: 160px;
            border-radius: 0.25rem;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: top;
            }            
        }

        .content {
            display: flex;
            flex-direction: column ;
            flex: 1 0 0;
            .title_paragraph{
                display: flex;
                flex-direction: column;
                flex: 1 0 0;
                /* 文字 */
                h3 {
                    margin: 0.5rem 0 0;
                    word-wrap: break-word;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
            span {
                margin-bottom: 0.5rem;
            }
        }
    }
}

/* 首頁嚮導卡片 */
.pop_guide .carousel .card {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.16);
    position: relative;    
}

/* 熱門城市卡片 */
.carousel {
    max-height: 320px;
    margin-bottom: 2rem;
    margin: 0 -15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    .carousel_item {
        display: flex;

        .card {
            width: 190px;
            padding: 0 15px;
            box-sizing: border-box;
            position: relative;
            transition: 0.3s all ease-in-out;
            // 文字不換行
            white-space: nowrap;

            /* 選取到的卡片 */
            &:hover,
            &.extend {
                width: 370px;

                /* hover 後內框線 */
                .cover {
                    outline: 0.25rem solid var(--hover);

                    .caption .tag h4 {
                        display: inline-block;
                        color: var(--white);
                        padding: 0.25rem 0.5rem;
                        border: 1px solid #fff;
                        border-radius: 1rem;
                        box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.16);
                        margin: 0 0 0.75rem 0.6rem;
                        z-index: 2;
                    }
                }
            }
        }

        /* 圖片 */
        .cover {
            height: 320px;
            border-radius: 1.25rem;
            vertical-align: top;
            background-position: 50%;
            background-size: cover;
            overflow: hidden;
            position: relative;

            /* 漸層覆蓋 */
            .overlap {
                background: linear-gradient(transparent 60%, rgba(2, 32, 56, 0.761) 80%, rgba(2, 32, 56, 0.98) 100%);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
            }

            /* 標題 */
            .caption {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: relative;

                /* 名稱 */
                h3 {
                    color: var(--white);
                    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.8);
                    margin: 0 0 0.75rem 0.6rem;
                    z-index: 2;
                }

                /* 次標 */
                .tag h4 {
                    display: none;
                }
            }
        }
    }

    .carousel_item-hidden {
        display: none;
    }

    .carousel_item-visible {
        display: flex;
        animation: fadeVisibility 1.5s;
    }
}
/* 調整按鈕位置 */
.swiper-button-prev,
.swiper-button-next {
    margin-top: 0;
    margin: auto;
    color: var(--white);
    transform: translate(0% , -50%);
}
.swiper-button-prev {
    left: 0.5rem;
}
.swiper-button-next {
    right: 0.5rem;
}

/* 所有 tag slider */
/* tag_slider */
.tag_slider {
    position: relative;

    ul {
        display: flex;
        margin: 1rem auto;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;

        li {
            margin: auto .5rem;

            .tag {
                display: inline-block;
                padding: 0.5rem 1rem;
                color: var(--gray_2);
                border: 1px solid var(--gray_2);
                border-radius: 1rem;

                &:hover {
                    color: var(--second_hover);
                    border: 1px solid var(--second_hover);
                }
            }

            /* more按鈕 */
            .arrow {
                position: relative;
                z-index: 3;
                color: var(--gray_2);
            
                &:hover {
                    color: var(--second_hover);
                }
            }
        }
    }
    /* 漸層覆蓋 */
    .overlap {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: linear-gradient(270deg, rgba(255, 255, 255, 1) 4%, transparent 20%);
        pointer-events: none;
    }
}

@media screen and (max-width:1200px) {

    /* 首頁輪播按鈕 */
    .carousel .arrow.left {
        left: 0;
    }

    .carousel .arrow.right {
        right: 0;
    }

    /* 回到頂端 */
    .side_function {
        width: 2.25rem;
        height: 2.25rem;
    }
}

@media screen and (max-width:992px) {

    /* 回到頂端 */
    .side_function {
        width: 2rem;
        height: 2rem;
        right: 1rem;
    }
    
}

@media screen and (max-width:768px) { 
    /* 首頁熱門話題影片卡片 */
    .hot {
        .row {
            margin-bottom: 2rem;            
            .col {                    
                display: flex;
                flex-direction: row;
                margin-bottom: 1.5rem;
                a{
                    display: flex;
                    text-decoration: none;
                    color: var(--gray_2);
                    .video {
                        width: 54%;
                        height: 100%;
                        border-radius: 0.5rem;
                        overflow: hidden;
                        position: relative;
                    
                        iframe {
                            width: 100%;
                            height: 180px;
                            object-fit: cover;
                            vertical-align: top;
                        }
                    }
                    
                    .content {
                        display: flex;
                        flex-direction: column;
                        width: 42%;
                        margin: 0 1rem;
                    
                        /* 文字 */
                        h3 {
                            font-size: 1rem;
                            margin: 0;
                        }
                    
                        p {
                            font-size: 0.8rem;
                            margin-bottom: auto;
                            letter-spacing: 0;
                            flex: 1 0 0;
                        }
                    
                        span {
                            font-size: 0.75rem;
                            margin-bottom: 0.5rem;
                            letter-spacing: 0;
                        }
                    }
                }
            }
        }
    }
    
    /* 內頁的 more */
    .more_second_floor {
        margin: 1rem auto;

        button {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            color: var(--gray_3);
            padding: 0.25rem;
            margin-bottom: 0.5rem;
    
            .fa-solid {
                transform: scale(1.3);
            }
    
            &:hover {
                color: var(--second_hover);
            }
        }        
    }

    /* 回到頂端 */
    .side_function {
        bottom: 5rem;
        right: 0.5rem;
    }
}


@media (max-width:425px) {
    .pop_guide {
        .swiper {
            margin-bottom: 0;
        }
    }
    .detial {
        .contact {
            .item {
                padding: 0.5rem 1.25rem;
                margin-right: 0.5rem;
    
                &:hover {
                    color: var(--hover);
                }
    
                /* 首頁嚮導欄按鈕調整 icon 大小 */
                .fa-solid {
                    transform: scale(1);
                }
            }
        }
    }
}