/* 網頁導覽列 */
.main_header {
    background-color: var(--white);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    /* 導覽列選單 */
    #menu-switch {
        display: none;
    }
    
    .main_nav {
        box-shadow: 0 0.25rem 0.75rem var(--shadow);        
        padding: 1rem 4rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 4;

        /* 導覽列logo */
        .logo{
            width: 7.5rem;
            height: 100%;

            img {
                width: 100%;
                vertical-align: top;
            }
        }
        
        /* 首頁搜尋欄 */
        .search_bar {
            font-size: 1rem;
            margin: auto;
            border-radius: 0.5rem;
            border: 1.5px solid var(--gray_5);
            background-color: var(--white);
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 0 0 400px;
            
            input{
                background: transparent;
                width: 100%;
                border-width: 0;
                padding: 0.5rem 1rem;

                &::placeholder {
                    color: var(--gray_4);
                    font-size: 1rem;
                    letter-spacing: 0.6px;
                }
                
                &:focus {
                    outline: 0;
                }
                &::-webkit-calendar-picker-indicator {
                    // display: none;
                }
            }
            datalist {
                background-color: #fff;
            }
            .fa-solid {
                margin-right: 1rem;
                color: var(--gray_3);
            }            
        
        
            /* 訂閱按鈕 */
            button {
                background-color: var(--primary);
                color: var(--white);
                width: 96px;
                border-width: 0;
                border-radius: 0 0.5rem 0.5rem 0;
        
                &:hover {
                    background-color: var(--hover);
                }
        
                &:active {
                    background-color: var(--active);
                }
        
                /* 首頁搜尋欄按鈕調整 icon 大小 */
                .fa-solid {
                    font-size: 1rem;
                }
            }
        }

        .main_menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 0.9rem;

            /* 導覽列連結 */
            ul {
                display: flex;
                align-items: center;

                li{
                    a {
                        text-decoration: none;
                        display: inline-block;
                        padding: 0.5rem 0.75rem;                        
                        color: var(--gray_2);
    
                        &:hover{
                            color: var(--hover);
                        }
                    }
                }                
            }

            span{
                color: var(--gray_2);
            }

            /* 會員相關按鈕 */
            .member_button {
                display: flex;
                align-items: center;
                
                /* 按鈕 */
                .signup {
                    padding: 0.5rem 0.75rem;
                    transition: all 0.05s ease-in-out;
                    color: var(--gray_2);

                    &:hover{
                        color: var(--hover);
                    }
                }

                /* 語言切換按鈕 */
                .translate {
                    display: flex;
                    align-items: center;
                    padding: 0.5rem 0.75rem;
                    color: var(--gray_2);
    
                    /* 國旗圖案 */
                    .flag {
                        padding: 0 0.5rem;
                        .fa-solid {
                            font-size: 1.15rem;
                        }
                    }
    
                    /* 下拉選單 icon */
                    .text {
                        .fa-solid {
                            color: var(--gray_2);
                            padding: 0 0.5rem;

                            &:hover{
                                color: var(--hover);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 手機 Tabbar */
.main_tabbar{
    display: none;
}

/* footer */
footer {
    background-image:
        url(../image/wave_bottom.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    object-fit: cover;
}

footer .background {
    padding-top: 15rem;
    padding-bottom: 1rem;
}



/* footer連結 */
footer .footer_links {
    display: flex;
    align-items: center;
}

footer .footer_links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul li a {
    padding-bottom: 2.25rem;
    display: inline-block;
    color: var(--white);
}

/* media     */
footer .media ul {
    display: flex;
    justify-content: space-between;
}

footer .media ul li {
    padding: 2.25rem 0;
}

footer .media ul li img {
    width: 100%;
}

/* downapp */
footer .downapp ul {
    display: flex;
}

footer .downapp li {
    padding-right: 2rem;
}

footer .downapp ul li img {
    width: 100%;
    object-fit: cover;
}

/* 著作權 */
footer .copyright {
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
    font-family: Helvetica;
    padding: 0.75rem 0;
}

@media screen and (max-width:1440px) {
    .main_header {
        .main_nav {
            .search_bar {
                flex: 0 0 360px;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .main_header {
        .main_nav {
            padding: 0.75rem 2.5rem;
            .search_bar {
                flex: 0 0 320px;
            }
                
            .main_menu {
                span{
                    padding: 0 0.25rem;
                }
    
                .member_button {
                    display: flex;                    
                
                    a {
                        text-decoration: none;
                        color: var(--gray_2);                        
                    }
                
                    .signup {
                        padding: 0.5rem;
                    }
                
                    .translate {
                        color: var(--gray_2);
                        padding: 0.5rem;
                        
                        .fa-solid{
                            padding: 0.5rem;
                        }

                        .text {
                            .fa-solid{
                                padding: 0.5rem;

                                &:hover {
                                    color: var(--hover);
                                }
                            }
                        }
                    }
                
                }
            }
        }
    }

    .container{
        max-width: 1200px;

    }
}

@media screen and (max-width:992px) {
    .main_header {
        .main_nav {
            padding: 0.6rem 2rem;

            /* 搜尋欄 */
            .search_bar {
                flex: 0 0 240px;
            }
            
            .main_menu {
                padding-top: 0.75rem;
                padding-bottom: 0.5rem;

                ul {
                    li {
                        a {
                            padding: 0.5rem;                
                        }
                    }
                }

                span{
                    padding: 0.1rem;
                }

                .member_button {
                    display: flex;
                    
                
                    a {
                        text-decoration: none;
                        color: var(--gray_2);
                        
                    }

                    .login {
                        padding: 0.5rem 1.25rem;
                        border-radius: 0.2rem;
                    }
                
                    .translate {
                        color: var(--gray_2);
                        padding: 0.5rem;
                        
                        .fa-solid{
                            padding: 0;
                        }

                        .text {
                            .fa-solid{
                                padding: 0.25rem;

                                &:hover {
                                    color: var(--hover);
                                }
                            }
                        }
                    }
                
                }
            }
        }
    }

    .container{
        max-width: 960px;
    }
    

    footer {
        
        .background {
            justify-content: space-evenly;

            .footer_links {
                justify-content: center;
            }

            .media ul li {
                margin-right: 1rem;
            }

            .downapp li {
                padding-right: 1rem;
            }
        }
    }
}

@media screen and (max-width:930px) {
    .main_header {
        .main_nav {
            padding: 0.5rem 1.5rem;
    
            /* 搜尋欄 */
            .search_bar {
                font-size: 0.85rem;
                flex: 0 0 220px;

                input {
                    padding: 0.4rem 0.75rem;
                }
            }

            .main_menu {
                font-size: 0.85rem;

                .member_button{
                    .signup{
                        margin-right: 0;
                    }

                    .translate{
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:852px) {
    .main_header {
        .main_nav {
            padding: 0.5rem 1.5rem;
    
            /* 搜尋欄 */
            .search_bar {
                font-size: 0.8rem;
                flex: 1 0 100px;
                margin: 0 1rem;

                input {
                    padding: 0.4rem 0.5rem;
                }
            }

            .main_menu {
                font-size: 0.85rem;
                padding-top: 0.5rem;
                padding-bottom: 0.3rem;

                ul {
                    li {
                        a {
                            padding: 0.35rem;
                        }
                    }
                }

                .member_button{
                    .signup{
                        padding: 0.35rem;
                        margin-right: 0;
                    }

                    .translate{
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    /* 網頁版導覽列 */
    .main_header{
        .main_nav{
            padding: 0.8rem 1rem 0.4rem;       

            .logo{
                width: 7rem;
            }

            .search_bar {
                display: none;
            }

            .hamburger{
                background-color: var(--white);
                width: 40px;
                height: 40px;
                position: relative;
                
                span{
                    background-color: var(--primary);
                    width: 80%;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
    
                    &:first-child {
                        top: 14px;
                    }
                    
                    &:nth-child(2) {
                        top: 2px;
                        bottom: 0px;
                    }
    
                    &:last-child {
                        bottom: 11px;
                    }
                }
    
            }

            .main_menu {
                width: 100%;
                height: 12rem;
                background: var(--white);
                border-radius: 0 0 0.5rem 0.5rem;
                border-top: 1px solid var(--gray_5);
                box-shadow: 0 1rem 1rem var(--shadow);
                display: block;
                position: absolute;
                top: 100%;
                left: -100%;
                z-index: 3;
                transition: left 0.3s;

                padding-top: 0;
                padding-bottom: 0.25rem;

                ul{
                    display: block;

                    li{
                        a{
                            padding: 0.75rem;
                            text-decoration: none;
                            color: var(--gray_2);
                        }

                        &:first-of-type, 
                        &:nth-last-of-type(1),
                        &:nth-last-of-type(2),
                        &:nth-last-of-type(3) {
                            display: none;
                        }
                    }
                }

                span {
                    display: none;
                }

                .member_button {
                    display: block;
                    padding-top: 0.75rem;
                    padding-bottom: 0.5rem;

                    a {
                        display: flex;
                        text-decoration: none;
                        color: var(--gray_2);
                        font-size: 0.95rem;
                        border-bottom: 1px solid var(--gray_5);
                        
                        &:hover{
                            border-bottom: 1px solid var(--white);
                            background-color: var(--hover);
                            color: var(--white);
                        }
                    }
                    
                    .signup {
                        margin-right: 0;
                        padding: 1rem;

                        &:hover{
                            color: var(--white);
                        }
                    }
                    .login {
                        margin-right: 0;
                        padding: 1rem;
                        background: var(--white);
                        color: var(--gray_2);
                        border-radius: 0;
                    }

                    .translate {
                        color: var(--gray_2);
                        padding: 1rem;
                        font-size: 0.95rem;

                        &:hover , .text .fa-solid:hover{
                            background: var(--hover);
                            color: var(--white);
                        }

                        .flag {
                            display: none;
                        }

                        .text{
                            .fa-solid{
                                &:hover{
                                    color: var(--white);
                                }
                            }
                        }
                       
                    }

                }

            }
        }
        #menu-switch{
            position: fixed;
            top: 0;
            z-index: 2;

            &:checked ~ .main_nav{
                .main_menu{
                    left: 0;
                }

                .hamburger{
                    span{
                        &:first-child{
                            top: 19px;
                            transform: rotate(45deg);
                            transition: top 0.1s,
                            transform 0.05s 0.1s;
                            
                        }
                        &:nth-child(2){
                            display: none;
                        }
                        &:last-child{
                            bottom: 19px;
                            transform: rotate(-45deg);
                            transition: bottom 0.1s,
                            transform 0.05s 0.1s;
                            
                        }
                    }
                }
            }
        }
    }
    
    /* 手機 Tabbar */
    .main_tabbar {
        display: block;
        position: relative;

        .container_full {
            width: 100%;
            background: var(--gray_2);
            background-color: var(--white);
            margin: 0 auto;
            padding: 0.5rem 1rem;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 4;
            box-shadow: 0 -0.25rem 0.5rem var(--shadow);

            .row {
                text-align: center;

                .col {
                    a {
                        color: var(--gray_2);
                        font-size: 1rem;
                        padding: 0.2rem 0 0;
                        text-align: center;
                        display: inline-block;
                        margin: 0 -15px;

                        h2 {
                            margin-bottom: 0;
                            color: var(--primary);
                            letter-spacing: 0;

                            &:hover{
                                color: var(--hover);
                            }
                        }

                        .fa-solid {
                            color: var(--primary);

                            &:hover {
                                color: var(--hover);
                            }
                        }
                    }
                }
            }

        }
    }



   /* bottomSheet */
    .main_header_mobile{
        #bottomSheetContainer {
            background-color: rgba(0, 0, 0, 0.76);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            align-items: flex-end;
            justify-content: center;
            display: none;

            &.active {
                display: flex;
            }
        }
        
        
        #bottomSheet {
            background-color: #fff;
            width: 600px;
            transform: translateY(100%);
            transition: transform 0.3s ease-in-out;

            &.active {
                transform: translateY(0);
            }

            a {
                color: #333;
                text-decoration: none;
                height: 40px;
                border-bottom: 1px solid #ccc;
                padding-left: 20px;
                display: flex;
                align-items: center;
                font-family: arial, Helvetica, sans-serif;
                font-size: 14px;

                &:hover {
                    background-color: #ccc;
                }
            }
        }

    }


    /* footer */
    footer .background {
        padding: 0 0 1rem;
    }

    footer .container .background .col:first-child {
        order: 1;
    }

    footer .container .subscribe {
        order: 0;
    }

    footer ul li {
        padding: 0.5rem 1rem 2rem;
    }

    footer .container .background .footer_links .col:first-of-type {
        order: 1;
    }

    footer .container .background .footer_links .col:nth-of-type(2) {
        order: 2;
    }

    footer .downapp ul {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:320px) {
    /* 手機 Tabbar */
    .main_tabbar {
        .col {
            h2 {
                font-size: 0.75rem;        
            }
        }           
    }
}