/* 網頁導覽列 */
.main_header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: #fff;
    
    .main_nav {
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.16);
        padding: 0.75rem 7.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        /* 導覽列logo */
        img {
            width: 100%;
            vertical-align: top;
        }
        
        /* 導覽列選單 */
        .main_menu {
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                display: flex;
                align-items: center;

                /* 導覽列連結 */
                a {
                    text-decoration: none;
                    display: inline-block;
                    padding: 0.5rem 1.5rem;
                    color: #333;

                    &:hover{
                        color: var(--primary);
                    }
                }
            }

            /* 會員相關按鈕 */
            .member_button {
                display: flex;
                align-items: center;
                
                button {
                    font-size: 1rem;
                    background-color: #fff;
                    outline: 0;
                    border-width: 0;
                    border-radius: 0.5rem;
                    padding: 0.5rem 1.5rem;                    
                    
                    /* 按鈕 */
                    &.signup {
                        transition: all 0.05s ease-in-out;
                        
                        a {
                            text-decoration: none;
                            color: var(--gray_2);
                        }
                        &:hover{
                            a {
                                color: var(--hover);
                            }
                        }

                    }

                    /* 登入 */
                    &.login {
                        margin-right: 30px;
                        background: var(--primary);
                        transition: all 0.05s ease-in-out;

                        a {
                            color: var(--white);
                        }

                        &:hover {
                            background: var(--hover);
                            transition: all 0.05s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}
/* 語言切換按鈕 */
.member_button .translate {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

/* 國旗圖案 */
.translate .flag .fa-solid {
    transform: scale(1.5);
}

/* 下拉選單 icon */
.translate .fa-solid {
    color: var(--gray_2);
    padding: 0 1rem;
}


/* footer */
footer {
    background-image:
        url(../image/wave_bottom.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    object-fit: cover;
}

footer .background {
    padding-top: 15rem;
    padding-bottom: 1rem;
}

/* footer連結 */
footer .footer_links {
    display: flex;
    align-items: center;
}

footer .footer_links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul li a {
    padding-bottom: 2.25rem;
    display: inline-block;
    color: var(--white);
}

/* media     */
footer .media ul {
    display: flex;
    justify-content: space-between;
}

footer .media ul li {
    padding: 2.25rem 0;
}

footer .media ul li img {
    width: 100%;
}

/* downapp */
footer .downapp ul {
    display: flex;
}

footer .downapp li {
    padding-right: 2rem;
}

footer .downapp ul li img {
    width: 100%;
    object-fit: cover;
}

/* 著作權 */
footer .copyright {
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
    font-family: Helvetica;
    padding: 0.75rem 0;
}

@media screen and (max-width:1200px) {
    footer {
        max-width: 1200px;
    }
}

@media screen and (max-width:992px) {
    footer {
        max-width: 960px;

        .background {
            justify-content: space-evenly;

            .footer_links {
                justify-content: center;
            }

            .media ul li {
                margin-right: 1rem;
            }

            .downapp li {
                padding-right: 1rem;
            }
        }
    }
}

@media screen and (max-width:768px) {
    
    // 網頁版輪播
    .main_header{
        display: none;
    }

    .main_header_mobile{
        #bottomSheetContainer {
            background-color: rgba(0, 0, 0, 0.76);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            align-items: flex-end;
            justify-content: center;
            display: none;

            &.active {
                display: flex;
            }
        }
        
        
        #bottomSheet {
            background-color: #fff;
            width: 600px;
            /* height: 300px; */
            transform: translateY(100%);
            transition: transform 0.3s ease-in-out;

            &.active {
                transform: translateY(0);
            }

            a {
                color: #333;
                text-decoration: none;
                height: 40px;
                border-bottom: 1px solid #ccc;
                padding-left: 20px;
                display: flex;
                align-items: center;
                font-family: arial, Helvetica, sans-serif;
                font-size: 14px;

                &:hover {
                    background-color: #ccc;
                }
            }
        }

    }
    // .main_header_mobile{
    //     margin: 0 auto;
    //     width: 100%;
    //     background-color: var(--white);
    //     box-shadow: 0 -0.35rem 1.85rem var(--shadow);
    //     border-radius: 0.5rem;
    //     position: fixed;
    //     bottom: 0;
    //     left: 0;

    //     #menu_switch {
    //         position: absolute;
    //         z-index: 20;
    //         display: none;

    //         &:checked ~ .menu_button {        
    //             .hamburger {
    //                 height: 2.5rem;
    //                 position: relative;
    //                 display: inline-block;

    //                 span {        
    //                     &:first-of-type {
    //                         top: 19px;
    //                         transform: rotate(45deg);
    //                         /* 轉場：頂部 0.3秒，變化 0.3秒、延遲 0.3秒 */
    //                         transition: top 0.1s, transform 0.05s 0.1s;
    //                     }
        
    //                     &:nth-child(2) {
    //                         display: none;
    //                     }
        
    //                     &:last-of-type {
    //                         bottom: 19px;
    //                         transform: rotate(-45deg);
    //                         /* 轉場：底部 0.3秒，變化 0.3秒、延遲 0.3秒 */
    //                         transition: bottom 0.1s, transform 0.05s 0.1s;
    //                     }
    //                 }
    //             }

    //             .main_nav{
    //                 display: block;
    //                 bottom: 0;
    //             }
    //         }

            
    //     }

    //     .menu_button{
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between;
    //         margin: 0 auto;
    //         padding: 0.5rem 1rem;
    //         position: relative;
    //         z-index: 2;

    //         img {
    //             object-fit: cover;
    //             vertical-align: top;
    //         }

    //         .hamburger {
    //             width: 2.5rem;
    //             height: 2.5rem;
    //             position: relative;
            
    //             span {
    //                 background-color: #333;
    //                 width: 1.5rem;
    //                 height: 0.15rem;
    //                 border-radius: 1rem;
    //                 position: absolute;
    //                 left: 0;
    //                 right: 0;
    //                 margin: auto;
            
    //                 &:first-of-type {
    //                     top: 11px;
    //                 }
            
    //                 &:nth-of-type(2) {
    //                     top: 0;
    //                     bottom: 0;
    //                 }
            
    //                 &:last-of-type {
    //                     bottom: 11px;
    //                 }
    //             }
            
    //         }

    //         .main_nav {
    //             // background-color: #333;
    //             position: absolute;
    //             left: 0;
    //             // bottom: -100%;
    //             width: 100%;
    //             display: none;
    //             z-index: 1;
            
    //             li {
    //                 padding: 0.5rem 1rem;
    //                 margin: 1.5rem 0;
            
    //                 a {
    //                     text-decoration: none;
    //                     color: var(--gray_2);
            
    //                     &:hover {
    //                         color: var(--primary);
    //                     }
            
    //                     .fa-solid {
    //                         text-align: center;
    //                         width: 1.5rem;
    //                         margin-right: 1rem;
    //                         transform: scale(1.2);
            
    //                     }
    //                 }
    //             }
    //         }
    //     }        
    // }

    footer .background {
        padding: 0 0 1rem;
    }

    footer .container .background .col:first-child {
        order: 1;
    }

    footer .container .subscribe {
        order: 0;
    }

    footer ul li {
        padding: 0.5rem 1rem 2rem;
    }

    footer .container .background .footer_links .col:first-of-type {
        order: 1;
    }

    footer .container .background .footer_links .col:nth-of-type(2) {
        order: 2;
    }

    footer .downapp ul {
        align-items: center;
        justify-content: center;
    }
}