$border-radius: 0.25rem;
$border-radius-lg: 0.5rem;
$accordion-button-focus-border-color: #18ACEF;

/* boostrap@5.1.3 */
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/bootstrap.scss";


@import "./reset";
@import "./grid";
@import "./variables";
@import "./components";
@import "./layout";
