/* 相關熱門話題影片卡片 */
.row {
    margin-bottom: 2rem;

    .col {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.5rem;

        .video {
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
            overflow: hidden;
            position: relative;

            iframe {
                width: 100%;
                height: 180px;
                object-fit: cover;
                vertical-align: top;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            width: 42%;
            margin: 0 1rem;

            /* 文字 */
            h3 {
                font-size: 1rem;
                margin: 0;
            }

            p {
                font-size: 0.8rem;
                margin-bottom: auto;
                letter-spacing: 0;
                flex: 1 0 0;
            }

            span {
                font-size: 0.75rem;
                margin-bottom: 0.5rem;
                letter-spacing: 0;
            }
        }
    }
}

/* fontawesome符號 */
i[class*="fa-"] {
    color: var(--gray_3);
}

/* 星星分數符號 */
.score .fa-solid {
    color: var(--info);
    margin-right: 0.25rem;
}

/* 主體 */
.main {
    .hot_main_media {
        .container_full {
            margin-top: 2rem;

            .row {
                .hot {
                    width: 100%;
                }
            }

            /* hot_main_media */
            .main_media {
                height: 720px;
                overflow: hidden;
                margin-bottom: 1.5rem;

                /* iframe */
                iframe {
                    width: 100%;
                    height: 100%;
                    vertical-align: top;
                }
            }
        }
    }
}


/* 討論區 */
.title {
    text-align-last: left;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid var(--gray_5);
    padding: 1rem 0;

    .context {
        flex: 1 0 0;

        h2 {
            margin-bottom: 0.5rem;
            margin-top: 0.25rem;
        }
    }
}

.title .tag {
    color: var(--second);
    cursor: pointer;
}

.title p {
    color: var(--gray_1);
}

.title .content {
    display: flex;
    flex: 1 0 0;
}

.title .cover {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}

.title .cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

.title .score {
    display: flex;
    align-items: center;
    color: var(--info);
}

.title .achievement {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.title .achievement span {
    padding-right: 1rem;
}

/* 功能鍵 */
.function {
    min-width: 260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font: 1px 0 0px;
}

.function button {
    display: flex;
    align-items: center;
    color: var(--gray_3);
}

.function button:hover i,
button:hover .amount {
    color: var(--hover);
}

.function button i {
    transform: scale(1.3);
}

.function button:first-of-type {
    display: flex;
}

.function button i:first-of-type {
    padding-right: 0.5rem;
}

/* 嚮導功能 */
.title.guide .function {
    min-width: 360px;
}

.title.guide .function button {
    padding: 0.5rem 0.5rem;
    margin: auto 0.5rem;
}

.title.guide .function button:hover span,
.title.guide .function button:hover .fa-solid {
    color: var(--hover);
}

/* 留言功能 */
.title.message {
    flex-direction: column;
    align-items: start;
    border: 0;
}

/* 留言數量 */
.title.message .message_amount {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.title.message .message_amount span {
    margin-right: 1rem;
}

.title.message .message_amount button {
    padding: 0.5em;
}

.title.message .message_amount button .fa-solid {
    margin-right: 0.5rem;
}

.title.message .message_amount button:hover .fa-solid,
button:hover span {
    color: var(--hover);
}

.title.message .content {
    width: 100%;
    margin-bottom: 2rem;
}

.title.message .content .user {
    width: 100%;
}

.title.message .context {
    display: flex;
    justify-content: space-between;
}

.title.message .context input {
    flex: 1 0 0;
}

.title.message .context input {
    color: var(--gray_2);
    font-size: 1rem;
    border-width: 0;
    border-bottom: 2px solid var(--gray_4);
    margin-right: 1rem;
    margin-top: 1rem;
    transition: 0.3s all;

}

.title.message .context input::placeholder {
    width: 100%;
    color: var(--gray_4);
}

.title.message .context input:focus {
    outline: 0;
    border-bottom: 2px solid var(--gray_1);
}

.title.message .context input span:hover {
    color: var(--hover);
}

.title.message .context .function {
    min-width: 200px;
}

/* 留言牆 */
.title.message .message_wall .context {
    display: block;
}

.title.message .message_wall .context p {
    margin-bottom: 0.25rem;
    max-width: calc(100% - 400px);
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* 查看 */
.title.message .message_wall .context button {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.title.message .message_wall .context span {
    margin-right: 0.5rem;
}

/* 回應留言 */
.title.message .message_wall .context button:hover,
button:hover .fa-solid {
    color: var(--hover);
}

.title.message .message_wall .context .function {
    justify-content: flex-start;
    padding-left: 0.25rem;
    /* border: 1px solid #000; */
}





/* 旅遊筆記 */
/* divide 分隔線 */
.travel_note .divide {
    border-bottom: 1px solid var(--gray_5);
    margin: 0.5rem auto;
}

.travel_note h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.travel_note .date_group_moneybill {
    color: var(--gray_2);
}

.travel_note .date,
.group_moneybill {
    margin-bottom: 0.5rem;
}

.travel_note .group_moneybill {
    display: flex;
    align-items: center;
}

.travel_note .fa-solid {
    font-size: 1.1rem;
    padding: 0.5rem;
}

.travel_note p {
    display: inline-block;
}

.travel_note span {
    color: var(--gray_5);
    margin: 0 0.25rem;
}

/* tag_slider */
.tag_slider {
    display: flex;
    ul {
        margin: 1rem 0;
        li {
            margin: auto .5rem;
            .tag {
                display: inline-block;
                padding: 0.5rem 1rem;
                color: var(--gray_2);
                border: 0;

                &:hover {
                    color: var(--second_hover);
                    border: 0;
                }
            }

            /* more按鈕 */
            .arrow {
                position: relative;
                z-index: 3;
                color: var(--gray_2);

                &:hover {
                    color: var(--second_hover);
                }
            }
        }
    }

    /* 漸層覆蓋 */
    .overlap {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: linear-gradient(270deg, rgba(255, 255, 255, 1) 4%, transparent 20%);
        pointer-events: none;
    }
}

/* more按鈕 */
.tag_slider ul .arrow {
    position: relative;
    z-index: 3;
    color: var(--gray_2);
}

.tag_slider ul .arrow:hover {
    color: var(--second_hover);
}

.tag_slider ul .arrow .fa-solid {
    font-size: 1rem;
}


/* journey_node */
.journey_node {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
}

.journey_node .fa-solid {
    color: var(--gray_2);
}

.journey_node h3 {
    display: inline-block;
}

.item {
    margin: 0.5rem 0;
}

.item h3:hover {
    color: var(--info);
    cursor: pointer;
}

/* plane */
.journey_node .plane {
    display: flex;
    align-items: center;
}

/* hotel */
.journey_node .hotel {
    display: flex;
    align-items: center;
}

/* node */
.node {
    margin-bottom: 0;
}

.node .location {
    display: flex;
    line-height: 1.75rem;
}

.node .location .name_group {
    width: 100%;
}

.node .location .name_group .name {
    margin-bottom: 0.5em;
}

.node .location .name_group .more_second_floor {
    text-align: center;
}

.node .fa-solid {
    padding: 0.5rem 0.782rem;
}

.node .more_second_floor .fa-solid {
    padding: 0.5rem;
}

.node .more_second_floor:hover .fa-solid {
    padding: 0.5rem;
    color: var(--second_hover);
}

/* note */
.note {
    margin: 0 0.5rem;
}

/* 展開按鈕 */
.note .fa-solid {
    padding: 0.5rem 0.782rem;
}

.note .context {
    display: flex;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.context h4 {
    line-height: 1.65rem;
}

.note .more_second_floor {
    text-align: center;
}

.note .more_second_floor:hover .fa-solid {
    color: var(--second_hover);
}


/* 相關推薦欄 */
.related {
    width: 100%;

    /* 標題 */
    h2 {
        text-align-last: left;

        .row-cols-1 {
            margin-bottom: 0;

            .col:last-child .row-cols-2 {
                margin-bottom: 1rem;
            }
        }
    }
}

/* 圖片調整 */
.related .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

/* 相關話題內容 */
.related .row .col-7 {
    display: flex;
}

.related .contain {
    display: flex;
    flex: 1 0 0;
    margin-left: -15px;
}

.related .context {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.related .context p {
    padding: 0.25rem 0;
    flex: 1 0 0;
}

/* 更多功能 */
.related .contain button {
    display: flex;
    align-items: start;
}

.related .contain .ellipsis-vertical .fa-solid {
    padding: 1rem;
}

.related .contain .ellipsis-vertical .fa-solid:hover {
    color: var(--hover);
    cursor: pointer;
}

/* 推薦嚮導 */
.related .score {
    color: var(--info);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.language span {
    padding-right: 0.25rem;
}


/* 展開按鈕 */
.related .more_second_floor button .fa-solid {
    font-size: 0.5rem;
    color: var(--gray_2);
}

.related .more_second_floor button:hover .fa-solid {
    color: var(--second_hover);
}