/* 【人氣嚮導】 */
a:hover {
    color: var(--dark);
}

/* Banner */
.Banner{
    margin-bottom: 5rem;
    .container_full {
        width: 100%;
        height: 595px;
        background-image: url(../image/couple-sitting-resting-beach-summer-day-near-river.webp);
        background-size: cover;
        background-position: center;
        background-attachment:fixed ;

        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: var(--white);
            text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.8);
        }
    }
}

/* 人氣嚮導輪播 */
.pop_guide .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    .swiper-slide {
        max-width: 400px;
        background-position: center;
        background-size: cover;
        border-radius: 0.5rem;
        box-shadow: 0 0.25rem 1rem var(--shadow);

        img {
            display: inline-block;
            width: 100%;
            object-fit: cover;
            vertical-align: top;
        }

        .content {
            padding: 1.5rem;
        }
    }

    .swiper-slide-active {
        position: relative;    
        &::before,
        &::after {
            width: 200%;
            right: -200%;    
        }    
        &::after {
            left: -200%;
        }
    }
}

/* 名人牆 */
    .col {
        padding: 1rem;
        position: relative;
        .card {
            overflow: hidden;
            color: var(--white);
            text-shadow: 0 1px 2px var(--shadow);
            height: 400px;
            border: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            transition: 1s all linear;

            &::before {
                content: '';
                background: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.8) 100%);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
            }
            .guide {
                position: relative;
                z-index: 2;
                h3{
                    color: var(--white);
                }
                h4{
                    color: var(--white);
                }
                p{
                    color: var(--white);
                }
                .detial{
                    .score {                        
                        color: var(--white);
                        span{
                            font-size: 1rem;
                        }
                    }
                }
            }
            
            .contact {
                position: relative;
                z-index: 5;
                button {
                    .list-ul{
                        right:-3rem;
                        bottom: 40%;
                    }
                }
            }
        }
        @for $i from 1 through 9 {
            &:nth-of-type(#{$i}) .card{
                background: url('../image/guide_card_0#{$i}.webp') no-repeat center / cover,
                rgba(0, 0, 0, 0.8);
                background-blend-mode: luminosity;
            }
            &:hover .card {  
                background-blend-mode: normal;
                .guide {
                    .detial {
                        .score {
                            color: var(--info);
                            text-shadow: 1px 1px 0 var(--shadow);
                        }
                    }
                }
            }
        }
        @for $i from 10 through 24 {
            &:nth-of-type(#{$i}) .card{
                background: url('../image/guide_card_#{$i}.webp') no-repeat center / cover,
                rgba(0, 0, 0, 0.8);
                background-blend-mode: luminosity;
            }
            &:hover .card {
                background-blend-mode: normal;
            }
        }
    }
.detial {
    .score {
        color: var(--info);
    }
    a {
        color: var(--dark);
        
        &:hover {
            color: var(--second);
        }
    }
}

.main_tabbar{
    .container_full{
        .row{
            .col{
                padding: 0;
            }
        }
    }
}
/* 視訊燈箱 */
#lightBox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    // display: flex;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    .video-calls-container {
        width: 100%;
        height: 100%;
        background: url(../image/lightBox_video_communicate_in_camera.webp) no-repeat center center / cover;
        position: absolute;
        top: 0;

        .video-calls-content {
            background-color: var(--primary);
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            position: fixed;
            bottom: 0;

            .video-calls-function {
                display: flex;
                justify-content: center;

                .x-btn,
                .btn {
                    width: 3rem;
                    height: 3rem;
                    margin: 1.5rem;
                    border-radius: 50%;
                    background-color: var(--gray_5);
                    position: static;
                    transition: 0.1s all ease-in-out;

                    &:hover {
                        background-color: var(--error);
                        color: var(--white);
                    }

                    .fa-solid {
                        transform: scale(1.2);
                    }
                }

                .active {
                    background-color: var(--info);
                }
            }
        }
    }
}
@media (max-width:425px) {
    #lightBox .video-calls-container .video-calls-content .video-calls-function {
        display: flex;
        justify-content: center;
    
        .x-btn,
        .btn {
            width: 2.25rem;
            height: 2.25rem;
            margin: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
    
            &:hover {
                background-color: var(--error);
                color: var(--white);
            }
    
            .fa-solid {
                transform: scale(1.2);
            }
        }
    
        .active {
            background-color: var(--info);
        }
    }
}