// 共用元素
@mixin flex($dr:row, $jc:center, $ai:center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $dr;
}

@mixin pad {
    @for $i from 1 through 5 {
        .m-#{$i} {
            margin: calc(.25rem * #{$i});
        }

        .mt-#{$i} {
            margin-top: calc(.25rem * #{$i});
        }

        .mb-#{$i} {
            margin-bottom: calc(.25rem * #{$i});
        }

        .ms-#{$i} {
            margin-left: calc(.25rem * #{$i});
        }

        .me-#{$i} {
            margin-right: calc(.25rem * #{$i});
        }
    }

    @media (max-width:720px) {
        @content;
    }
}

.text-white {
    color: var(--white) !important;
}

.text-gray {
    color: var(--gray_3);
}

.text-left {
    width: 100%;
    display: inline-block;
    text-align: left;
    text-align: left;
}

.btn {
    background: transparent;
    color: inherit;
    border: 0;
    border-radius: 0.75rem;
    margin-top: 1rem;
    padding: 0.75rem 2.25rem;
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

small {
    color: var(--dark);
}

.container-sign {
    min-height: 420px;
    max-width: 960px;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 5px 2px var(--shadow);
    margin: 4rem auto;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;

    @include pad {
        min-height: 750px;
    }

    // ⬇️控制方向相關 開始
    &.sign_in .wrap {
        &.form-sign_in {
            z-index: 1;
            opacity: 1;
        }

        &.form-sign_up {
            z-index: -1;
            opacity: 0;
        }

        &.form-wrap {
            left: 0;

            @include pad {
                top: 0;
            }
        }

        &.overlay-wrap {
            left: 50%;

            @include pad {
                left: 0;
                top: 50%;
            }

            .overlay {
                left: -50%;

                @include pad {
                    left: 0;
                    top: -50%;
                }
            }

            // overlay
        }
    }

    &.sign_up .wrap {
        &.form-sign_in {
            z-index: -1;
            opacity: 0;
        }

        &.form-sign_up {
            z-index: 1;
            opacity: 1;
        }

        &.form-wrap {
            left: 50%;

            @include pad {
                left: 0;
                top: 50%;
            }
        }

        &.overlay-wrap {
            left: 0;

            @include pad {
                top: 0;
            }

            .overlay {
                left: 50%;

                @include pad {
                    left: 0;
                    top: 50%;
                }
            }
        }
    }

    // ⬆️控制方向相關 結束


    // 樣式主控台
    .wrap {
        @include flex(column);
        width: 50%;
        height: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        transition: 0.3s;

        @include pad {
            width: 100%;
            height: 50%;
            top: initial;
        }

        ;

        &.form-wrap {
            form {
                @include flex(column);
                width: 100%;
                padding: 1.75rem;
            }
            .forget_password{
                margin-top: 1rem;
                margin-left: auto;
            }

            .btn {
                background: var(--primary);

                &:hover {
                    background: var(--hover);
                }

                &:active {
                    background: var(--active);
                }
            }

            input:not([type=checkbox]) {
                width: 100%;
                border: none;
                border-bottom: 1px solid var(--gray_5);
                outline: 0;
                padding: 0.5rem;

                &::placeholder {
                    color: var(--gray_4);
                }
            }
        }

        &.overlay-wrap {
            overflow: hidden;
            background: yellow;
            z-index: 5;

            .btn {
                border: 1px solid var(--white);
            }

            .overlay {
                width: 200%;
                height: 100%;
                background: linear-gradient(-45deg, var(--primary), var(--second));
                position: relative;
                transition: 0.3s;

                p {
                    padding: 1rem;
                }

                @include pad {
                    width: 100%;
                    min-height: 200%;
                    height: initial;
                }

                .panel {
                    @include flex(column);
                    width: 50%;
                    height: 100%;
                    padding: 1.25rem;
                    position: absolute;
                    top: 0;

                    @include pad {
                        width: 100%;
                        height: 50%;
                        left: 0;
                    }

                    &.overlay-left {
                        left: 0;

                        @include pad {
                            top: 0;
                        }
                    }

                    &.overlay-right {
                        left: 50%;                        

                        @include pad {
                            left: 0;
                            top: 50%;
                        }
                    }
                }
            }
        }
    }
}