/* 【主題探索】 */

/* Banner */
.Banner {
    margin-bottom: 5rem;
    .container_full {
        width: 100%;
        height: 595px;
        background-image: url(../image/full-shot-travel-concept-with-landmarks.webp);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: var(--white);
            text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.8);
        }
    }
}

.theme {
    .menu {
        // box-shadow: 0 0 1rem var(--shadow);
    }
    h2{
        text-align-last: left;
    }
    .card{
        background-color: #fff;
        border: 0;
        .card-body {
            .score {
                color: var(--info);
            }
        }
    }
}

/* 推薦話題 */
.recommend {
    margin: auto;
    padding: 1rem;
    overflow: hidden;
    
    .carousel {
        width: 100%;
        position: relative;
        overflow: hidden;

        &::-webkit-scrollbar {
            display: none;
        }

        .carousel_item {
            width: 100%;
            height: 320px;
            padding: 0.25rem;
            display: flex;
            justify-content: space-between;
            position: relative;
            transition: left .3s;
            
            .card {

                .cover {
                    width: 100%;
                    height: 100%;
                    border-radius: 0.25rem;
                    outline: 0;

                    &::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(transparent 80%,
                                rgba(2, 32, 56, 0.761) 90%,
                                rgba(2, 32, 56, 0.98) 100%);
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                    }

                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.4);
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 3;
                    }

                    &:hover {
                        background-color: #fff;
                        cursor: pointer;

                        &::after {
                            background-color: transparent;
                        }
                    }

                    .caption {
                        padding: 0.5rem;
                        color: white;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-end;
                        position: relative;
                        z-index: 4;

                        h3 {
                            margin: 0 0 0.2rem;
                        }
                    }

                }
            }

            .card:first-of-type .cover {
                background: url(../image/recommend_two_skiers_standing_together.webp);
                background-size: cover;
                background-position: top center;
            }

            .card:nth-of-type(2) .cover {
                background: url(../image/recommend_hot_air_balloons.webp);
                background-size: cover;
                background-position: top center;
            }

            .card:nth-of-type(3) .cover {
                background: url(../image/recommend_underwater-scuba-diving.webp);
                background-size: cover;
                background-position: top center;
            }

            .card:nth-of-type(4) .cover {
                background: url(../image/recommend_professional-surfer-wears.webp);
                background-size: cover;
                background-position: top center;
            }

            .card:nth-of-type(5) .cover {
                background: url(../image/recommend_cruise.webp);
                background-size: cover;
                background-position: top center;
            }

            .card:nth-of-type(6) .cover {
                background: url(../image/recommend_portrait-young-beautiful-female-tourist.webp);
                background-size: cover;
                background-position: top center;
            }

            .card:nth-of-type(7) .cover {
                background: url(../image/recommend_photographer-with-photo-camera.webp);
                background-size: cover;
                background-position: top center;
            }
        }
    }
}

