/* 【主題探索】 */
/* Banner */
.Banner {
    margin-bottom: 5rem;
    .container_full {
        width: 100%;
        height: 595px;
        background-image: url(../image/full-shot-travel-concept-with-landmarks.webp);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: var(--white);
            text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.8);
        }
    }
}


.row {
    position: relative;
    margin-bottom: 0;

    /* aside */
    aside {
        padding-right: 1rem;
        margin-right: 3rem;
        margin-right: auto;
        background-color: var(--white);
        position: sticky;
        top: 94px;
        left: 1rem;
        overflow: auto;

        .slider {
            margin-right: 1rem;

            /* 清單 */
            ul {
                width: 100%;

                position: relative;

                li {

                    /* 清單列按鈕 */
                    a.button {
                        width: 100%;
                        margin: 0.5rem 0;
                        border-radius: 0.5rem;
                        text-align-last: left;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;

                        &:hover {
                            color: var(--second_hover);
                        }

                        &:active {
                            color: var(--white);
                            background-color: var(--second);
                            text-shadow: 0 0 0 var(--white);
                        }
                    }
                }
            }
        }
    }
}
.page {
    display: none;
}

.main {
    .tabs {
        list-style-type: none;

        // display: flex;
        // justify-content: flex-end;
        .tab {
            display: block;

            a[data-switcher] {
                display: block;
                padding: 15px 30px;
                text-decoration: none;
                color: var(--second);
                background-color: var(--white);
                cursor: pointer;
            }

            &:hover {
                a[data-switcher] {
                    color: var(--second_hover);
                }
            }
        }

        .tab.is-active {
            a[data-switcher] {
                color: var(--white);
                background-color: var(--second);
                font-weight: 700;

                &:hover {
                    color: var(--white);
                }
            }
        }
    }
}

.page.is-active {
    display: block;
}

/* 滾軸樣式 */
aside {
    ul::-webkit-scrollbar {
        width: 0.25rem;
    }

    ul::-webkit-scrollbar-track {
        background: transparent;
    }

    ul::-webkit-scrollbar-thumb {
        background: var(--second);
        border-radius: 5px;
    }

    ul:hover::-webkit-scrollbar-thumb {
        background: var(--second);
    }
}